/*
https://coolors.co/palette/3c3744-090c9b-3d52d5-b4c5e4-d8e2eb-eaf1ee-fbfff1
*/
:root {
 --bg: #fbfff1;
 --accent-bg: #eaf1ee;
 --text: #3c3744;
 --border: #3C3744;
 --code: #090C9B;
}
body {
 display: grid;
 color: var(--text);
 background-color: var(--bg);
 grid-template-columns: 1fr min(45rem, 90%) 1fr;
 margin: 0;
}
body > * {
 grid-column: 2;
}
header {
 background-color: var(--accent-bg);
 border-bottom: 1px solid var(--border);
 text-align: center;
 padding: 0.5rem 2rem .5rem;
 grid-column: 1/-1;
}
body > header a {
 margin: 0.5rem auto;
}
body > header h1 {
 max-width: 1200px;
 margin: 0.5rem auto
}
body > header p {
 max-width: 40rem;
 margin: 0.5rem auto
}
main {
 padding-top: 1.5rem;
}
pre {
 padding: 1rem 1.4rem;
 max-width: 100%;
 overflow: auto;
 border: 1px solid var(--border);
}
pre code{
 color: var(--code);
 background: 0 0;
 margin: 0;
 padding: 0;
}
a, a : visited {
 color:var(--accent)
}
a: hover {
 text-decoration:none
}